{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/deletar.css' %}">
    <title>Gerenciamento de Maquinas</title> 
</head>
<body>

    <div class="deletar_form">
        <!-- Adicionando a imagem da lixeira -->
        <img src="{% static 'icons/lixeira.svg' %}" alt="Lixeira" class="lixeira-icon">
        
        <h2><span class="texto-escuro">Tem certeza?</span><br><span class="texto-claro">Deseja deletar a maquina?</span></h2>
        <form method="POST">
            {% csrf_token %}
            <div class="botoes-container">
                <button type="submit" class="deletar_btn">Deletar</button>
                <a href="{% url 'index' %}">
                    <button type="button" class="cancelar_btn">Cancelar</button>
                </a>
            </div>
        </form>
    </div>

</body>
</html>

{% endblock content %}
