* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border no cálculo total */
}

body {
    background-color: #3C3C3C; /* Fundo suave */
    color: #333; /* Texto escuro */
    font-family: Arial, sans-serif;
}

.link {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.link a {
    padding: 12px 18px;
    background-color: #1e3a8a; /* Azul suave */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s; /* Adicionando uma leve animação */
}

.link a:hover {
    background-color: #357ab8; /* Azul um pouco mais escuro */
    transform: translateY(-2px); /* Efeito de levantar ao passar o mouse */
}

.tabela {
    margin: 20px;
    background-color: #333; /* Fundo escuro */
    padding: 15px; /* Espaço interno ao redor da tabela */
    border-radius: 8px; /* Borda arredondada para um visual suave */
    overflow-x: auto; /* Permite rolagem horizontal em telas menores */
}

table {
    width: 100%;
    border-collapse: separate;  /* Mantém a separação entre as células */
    border-spacing: 0 10px;  /* Espaçamento vertical de 5px entre as linhas */
    margin-top: 10px;
    box-shadow: 0 2px 5px; /* Sombra mais suave */
    table-layout: fixed; /* Garante que as colunas tenham tamanho fixo */
}

tr {
    background-color: #393939; /* Cor de fundo para as linhas */
    border-radius: 8px; /* Arredonda os cantos */
    overflow: hidden; /* Mantém o arredondamento visível */
    border: 8px solid #3C3C3C; /* Adiciona uma borda do mesmo tom do fundo para criar o espaçamento */
}

th, td {
    padding: 15px; /* Aumenta o espaçamento dentro de cada célula */
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 300; /* Torna a fonte mais fina */
    word-wrap: break-word; /* Quebra o texto dentro das células, se necessário */
    max-width: 150px; /* Limita o tamanho máximo da célula */
}

th {
    background-color: #393939; /* Fundo escuro para o cabeçalho */ 
    color: #FEFEFE; /* Texto cinza claro */
}

td {
    color: #FEFEFE; /* Texto cinza claro nas células */
}

tr:nth-child(even) {
    background-color: #393939; /* Cor para linhas pares */
}

tr:nth-child(odd) {
    background-color: #393939; /* Cor para linhas ímpares */
}

tr:hover {
    background-color: #363636; /* Destaque sutil ao passar o mouse */
}

.salvar {
    display: flex;
    gap: 5px;              /* Espaço entre os ícones */
    align-items: center;
    justify-content: center;
}

/* Estilo para os links que contém os ícones */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;           /* Tamanho fixo para os ícones */
    height: 30px;
}

.btn-icon img {
    width: 18px;           /* Tamanho do ícone */
    height: 18px;
}

.notification-dot {
    display: none;
    width: 8px; /* Tamanho reduzido para um visual mais discreto */
    height: 8px;
    border-radius: 50%;
    background-color: #ce1919ea; /* Vermelho suave para notificação */
}

#filtro-maquina {
    padding: 10px;
    width: 165px;
    margin-right: -4px;
    border: 1px;
}

#filtro-maquina:focus {
    background-color: #474747;
    outline: none; /* Remove a borda de foco branca do navegador */
}

.hora {
    text-align: center;
}

.pagination a {
    font-size: 18px;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #b5b5b5;
    color: black;
    border-radius: 4px;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #878787;
}

.pagination .current-page {
    font-size: 18px;
    padding: 8px 12px;
    background-color: #64AC72; /* Cor de destaque para a página atual */
    color: white;
    border-radius: 4px;
    margin: 0 5px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pesquisa_form {
    display: flex;
    align-items: center;
    justify-content: flex-end;  /* Muda o alinhamento para a direita */
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.pesquisa_form input {
    padding: 8px;
    width: 250px;
    border-radius: 10px;
    background-color: #474747;/* Cor barra da pesquisa */
    color: #cccccc; /* Define a cor do texto como branca */
}

.pesquisa_form label {
    margin-right: 10px;
    color: #FFFFFF;
}

.adicionar {
    text-decoration: none;
    color: white;
    background-color: #393939;
    padding: 5px;
    border-radius: 10px;
    font-size: 40px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100px; /* Largura fixa */
    height: 50px; /* Altura fixa para manter o formato quadrado */
    text-align: center;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adicionar:hover {
    background-color: #64AC72;
}

.logout {
    text-decoration: none;
    background-color: #393939;
    padding: 5px;
    border-radius: 10px;
    font-size: 40px;
    width: 100px; /* Largura fixa */
    height: 50px; /* Altura fixa para manter o formato quadrado */
    text-align: center;
    position: absolute;
    right: 150px; /* Aumentado para dar um maior espaçamento entre os botões */
    top: 193px; /* Aumentado para dar um maior espaçamento entre os botões */
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000; /* Garante que o botão de logout fique acima de outros elementos */
}

.logout:hover {
    background-color: #64AC72;
}

.logout img {
    width: 20px;
    height: 20px;
}

.erro_maquina {
    text-align: center;
    font-size: 20px;
    font-weight: 300; /* Torna a fonte mais fina */
    color: #64AC72;
}

/* Para navegadores WebKit (Chrome, Safari, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none; /* Alternativa ao -webkit-appearance */
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    appearance: textfield; /* Alternativa ao -moz-appearance */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .tabela table {
        table-layout: auto; /* Permite que a tabela se ajuste melhor ao tamanho da tela */
    }

    th, td {
        padding: 8px; /* Reduz o padding para dar mais espaço */
        font-size: 12px; /* Ajusta o tamanho da fonte */
    }

    .pagination {
        font-size: 14px; /* Ajusta o tamanho da página de navegação */
    }

    .pesquisa_form input {
        width: 200px; /* Ajusta o tamanho do campo de pesquisa */
    }
}